<footer class="footer_color">
  <div class="color_bar">
    <div class="color_stripes">
      <div class="bg_color_1"></div>
      <div class="bg_color_2"></div>
      <div class="bg_color_3"></div>
      <div class="bg_color_4"></div>
    </div>
  </div>
  <div class="footer_gradient space_between center_center">

      <div class="center">
        <div class="footer_year">
         COPYRIGHT NONSENSE AND LINKS
        </div>
        <div class="footer_year">{{currentYear}}</div>
      </div>
      <div class="center">
        <div class="gdit_footer_logo">

        </div>
        <div class="transcend_footer_logo">

        </div>
      </div>

  </div>
</footer>
