/* You can add global styles to this file, and also import other style files */

@import 'https://styles.transcend.csra.io/v3.0.0-rc4/transcend.css';

/*
@import '../../../wily-styles/styles/backgrounds.css';
@import '../../../wily-styles/styles/buttons.css';
@import '../../../wily-styles/styles/codesnippet.css';
@import '../../../wily-styles/styles/colors.css';
@import '../../../wily-styles/styles/effects.css';
@import '../../../wily-styles/styles/externals.css';
@import '../../../wily-styles/styles/footer.css';
@import '../../../wily-styles/styles/forms.css';
@import '../../../wily-styles/styles/help.css';
@import '../../../wily-styles/styles/layout.css';
@import '../../../wily-styles/styles/montserrat.css';
@import '../../../wily-styles/styles/navigation.css';
@import '../../../wily-styles/styles/styles.css';
@import '../../../wily-styles/styles/theme.css';
@import '../../../wily-styles/styles/wac.css';
@import '../../../wily-styles/styles/z_atmedia.css';
*/

.wily {
  animation-direction: alternate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: movewily;
  position: relative
}

@keyframes movewily {
  0% {
    left: 0;
    top: 0
  }
  25% {
    left: 900px;
    top: 0
  }
  50% {
    left: 400px;
    top: 100px
  }
  75% {
    left: 0;
    top: 100px
  }
  to {
    left: 0;
    top: 30px
  }
}

.megaman {
  animation-direction: alternate;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-name: movemegaman;
  height: 100px;
  position: relative;
  width: 100px
}

@keyframes movemegaman {
  0% {
    left: 0;
    top: 200px
  }
  25% {
    left: 800px;
    top: 200px
  }
  50% {
    left: 100px;
    top: 200px
  }
  75% {
    left: 200px;
    top: 200px
  }
  to {
    left: 0;
    top: 200px
  }
}

.mega_bg {
  background-image: url(https://media.giphy.com/media/sZHR8mLi3JB8Q/giphy.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%
}

.timeout_container {
  height:100%;
  text-align:center;
}

.timeout_countdown {
  font-size: 24pt;
  margin-bottom: 5px;
}

.timeout_ok_btn {
  margin: 0 auto;
}
