/* You can add global styles to this file, and also import other style files */

/* @import 'https://styles.transcend.csra.io/v3.0.0-rc4/transcend.css'; */


@import '../../../wily_styles/styles/backgrounds.css';
@import '../../../wily_styles/styles/buttons.css';
@import '../../../wily_styles/styles/codesnippet.css';
@import '../../../wily_styles/styles/colors.css';
@import '../../../wily_styles/styles/effects.css';
@import '../../../wily_styles/styles/externals.css';
@import '../../../wily_styles/styles/footer.css';
@import '../../../wily_styles/styles/forms.css';
@import '../../../wily_styles/styles/help.css';
@import '../../../wily_styles/styles/layout.css';
@import '../../../wily_styles/styles/montserrat.css';
@import '../../../wily_styles/styles/navigation.css';
@import '../../../wily_styles/styles/styles.css';
@import '../../../wily_styles/styles/theme.css';
@import '../../../wily_styles/styles/wac.css';
@import '../../../wily_styles/styles/z_atmedia.css';

.wily {
  animation-direction: alternate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: movewily;
  position: relative
}

@keyframes movewily {
  0% {
    left: 0;
    top: 0
  }
  25% {
    left: 85%;
    top: 0
  }
  50% {
    left: 55%;
    top: 100px
  }
  75% {
    left: 0;
    top: 200px
  }
  to {
    left: 30%;
    top: 30px
  }
}

.megaman {
  animation-direction: alternate;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-name: movemegaman;
  height: 100px;
  position: relative;
  width: 100px
}

@keyframes movemegaman {
  0% {
    left: 0;
    top: 200px
  }
  25% {
    left: 85%;
    top: 200px
  }
  50% {
    left: 10%;
    top: 200px
  }
  75% {
    left: 45%;
    top: 200px
  }
  to {
    left: 0;
    top: 200px
  }
}

.mega_bg {
  background-image: url(https://media.giphy.com/media/sZHR8mLi3JB8Q/giphy.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%
}
