<div class="site">
  <app-navbar></app-navbar>
  <main class="site-content">
    <div id="site-content">
      <router-outlet></router-outlet>
    </div>
    <button (click)="showDialog = true;timeoutDialog.open()">SHOW</button>
  </main>
  <app-footer></app-footer>
</div>

<wily-dialog title="Your Session is Expiring" [object]="showDialog" (closed)="resetTimer()"
             width="350px" height="150px" #timeoutDialog>
  <div class="center_center timeout_container">
    <div>
      <div class="timeout_countdown">{{count}} seconds</div>
      <button class="btn md t_go" style="margin: 0 auto;" (click)="resetTimer(true)">Click to stay logged in</button>
    </div>
  </div>
</wily-dialog>
