<div class="color_bar">
  <div class="color_stripes">
    <div class="bg_color_1"></div>
    <div class="bg_color_2"></div>
    <div class="bg_color_3"></div>
    <div class="bg_color_4"></div>
  </div>
</div>
<footer class="footer_color">
  <div class="col size_1 center_center wrap">
    <div><span class="footer_year">{{currentYear}} | </span> <img src="https://styles.transcend.csra.io/v3.0.0-rc7/assets/logos/gdit_logo_scale.svg" style="width:175px;margin-bottom:-3px;"></div>
  </div>
</footer>
