<div class="menu_color main_logo_bg font_color_1">
  <div class="gdit_bg">
    <div class="menu_header">
      <div class="top_left">
        <div class="bar_1"></div>
        <div class="bar_2"></div>
        <div class="bar_3"></div>
      </div>
      <div class="space_between v_center" style="width:100%;">
        <div class="menu_title">{{environment.title}}</div>
        <button class="btn_pulse sm" (click)="closeMenu()" aria-label="Close Menu">
          <i class="fas fa-times fa-fw"></i>
        </button>
      </div>
    </div>

    <div class="menu_group">
      <div (click)="accordion('categories')" class="accordion_main menu_btn"  aria-label="Categories">
        <div><i class="fas fa-list fa-fw"></i></div>
        <div style="margin-left:5px;">Categories</div>
      </div>
      <div class="menu_accordion " id="categories">
        <div class="accordion_sub submenu_btn" aria-label="Themes">
          <div><i class="fas fa-minus fa-fw"></i></div>
          <div>Themes</div>
        </div>
        <div class="accordion_sub submenu_btn" aria-label="Help System">
          <div><i class="fas fa-minus fa-fw"></i></div>
          <div>Help System</div>
        </div>
      </div>
      <div (click)="accordion('preferences')" class="accordion_main menu_btn" aria-label="Preferences">
        <div><i class="fas fa-cog fa-fw"></i></div>
        <div style="margin-left:5px;" aria-label="Preferences">Preferences</div>
      </div>
      <div class="menu_accordion " id="preferences">
        <div class="accordion_sub submenu_btn" aria-label="Themes">
          <div><i class="fas fa-minus fa-fw"></i></div>
          <div>Themes</div>
        </div>
        <div class="accordion_sub submenu_btn" aria-label="Help System">
          <div><i class="fas fa-minus fa-fw"></i></div>
          <div>Help System</div>
        </div>
      </div>
      <div (click)="doLogout()" class="menu_btn">
        <div><i class="fas fa-power-off fa-fw"></i></div>
        <div style="margin-left:5px;" aria-label="Logout">Logout</div>
      </div>
    </div>
  </div>
</div>
